<div class="mt-4 container">
  <input class="mb-2 col-4 form-control align-center" type="text" [(ngModel)]="filterSearch">
  <button class="btn btn-success mb-2" (click)="onAdd()">Add Person</button>
  <h3 class="text-primary text-center mb-2">{{appStatus | async}}</h3>
  <ul class="list-group" *ngFor="let person of persons | sort | filter:filterSearch">
    <li class="list-group-item" [ngClass]="getBgColor(person)"><strong class="ml-2 mr-2 text-primary">{{person.name | uppercase}}</strong>
      <span class="text-dark mr-2 font-weight-bold">| {{person.profession}} |</span> 
      <span class="font-italic text-secondary font-weight-bold mr-2">{{person.dob | date:'fullDate' }}</span>
      <div class="d-flex justify-content-end"><span class="badge badge-pill badge-primary">{{person.status}}</span></div></li>
  </ul>
</div>
